

    <div class="row">
        <div class="col-md-offset-1 col-md-3">
          <form action="/quotes">
            <div>
              <label for="quote_type">What type of quote would you like?</label>
              <%= select_tag(:quote_type, options_from_collection_for_select(Quote.all, :id, :quote_type), :class => "form-control") %>

              <input type="text" name="user_quote_type" id="quote_type">
            </div>

            <div>
              <label for="mood_choice">What mood are you in today?</label>
              <%#= select_tag(:quote_type, options_from_collection_for_select(Quote.all, :mood_id, :body, @quote.quote_type), :class => "form-control") %>
              <input type="text" name="user_mood_choice" id="mood_choice">
              </div>

            <button>Give me a quote to match my mood!</button>
          </form>
        </div>

        <div class="col-md-7">
        </div>
    </div>


    <div class="row">
        <div class="col-md-offset-2 col-md-8">

        </div>
    </div>
</div>
